<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="ticket">Ticket Event</a>
        </li>
        <li>
          <a href="careers">Careers</a>
        </li>
        <li>
          <a href="certificate">Course Certification</a>
        </li>
        <li>
          <a href="course">Online Course</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <main>
      <h1>This is the home page for assignment 4</h1>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti dolor
        sequi dolorem inventore at nam quo voluptas quaerat odio eius!
      </p>
    </main>

    <section>
      <iframe id="pdf-preview" src="" frameborder="0"></iframe>
    </section>
  </body>
  <script type="module" src="js/app.js"></script>
</html>
