<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/ticket">Ticket Event</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <section>
      <button id="generate-pdf">Generate PDF</button>
      <button id="preview-pdf">Preview PDF</button>
      <button id="download-pdf">Download PDF</button>
    </section>

    <section>
      <iframe id="pdf-preview" src="" frameborder="0"></iframe>
    </section>

    <script type="module" src="js/ticket.js"></script>
  </body>
</html>
