<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/ticket">Ticket Event</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="ticket-holder">
      <h1>Choose the Event you would like to Attend!</h1>
      
      <div class="event">
        <select id="event-selection">
          <option value="Concert" >Concert at 3/12/2025</option>
          <option value="Seminar" >Seminar at 3/13/2025</option>
        </select>
      </div>
      
      
      <div class="userName">
        <label for="userName">Enter Your Name:</label>
        <input type="text" id="userName" placeholder="Your Name..." />
      </div>
     
      <div class="button">
        <button id="generate-ticket">View your Ticket!</button>
        <button id="download-ticket">Download Your Ticket!</button>
      </div>

    </div>
   
    <section>
      <iframe id="ticket-pdf" src="" frameborder="0"></iframe>
    </section>

  <script type="module" src="js/ticketCreation.js"></script>
  </body>
</html>
